{#
 /**
  * @file
  * Default theme  description 
  *
  * @see hook_theme()
  */
#}
<div class="natureperif_info">
   {% trans %}
      <h2>Explications de la base</h2>
      <span>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</span><br/>
      <span> L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.'  est qu'il possède une distribution de lettres plus ou moins normale, </span><br/>
      <span>et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut,</span><br/>
      <span>et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, </span><br/>
      <span>souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).</span>
   {% endtrans %}
</div>